.DS_Store
.hg/
.hgignore
.rspec
.ruby-gemset
.ruby-version
*.class
*.db
*.db-journal
*.jar
/.lein-*
/.nrepl-port
/checkouts
/classes
/target
data
data/days
data/games
node_modules
node_modules
npm-debug.log
pom.xml
pom.xml.asc
spec/examples.txt
tmp
web/dist
